{% extends 'base/index.html' %}

{% block title %} Lista Clienti {% endblock %}


{% block content%}

{% include 'base/settingButton.html' %}

 {% if messages %}
        {% for message in messages  %}
            <div class="row">
                {% if forloop.first %}
                <div {% if message.tags %}class="alert alert-{{ message.tags }} alert-dismissable"{% endif %} id="close">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>{{ message }}</strong>
                </div>
                {% endif %}
            </div>
        {% endfor %}
 {% endif %}

<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-color panel-default-site">
                    <div class="panel-heading">
                        <h3 class="panel-title">Lista Clienti</h3>
                    </div>
                    <div class="panel-body">
                    <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                  <div class="col-sm-12">
                                      <div class="m-b-30">
                                        <a class="btn btn-primary btn-rounded waves-effect waves-light" data-toggle="tooltip"  data-placement="right" title="Aggiungi Clienti" href="{% url 'clienti_add' %}"><i class="zmdi zmdi-accounts-add"></i></a>
                                        </div>
                                    </div>
                                  <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table id="datatable-responsive" class="table table-bordered dt-responsive m-0">
                                                    <thead>
                                                    <tr>
                                                        <th style="width: 140px;">Pratica Cliente</th>
                                                        <th style="width: 130px;">Ditta</th>
                                                        <th style="width: 150px">Dipendente </th>
                                                        <th style="width: 70px">Cellulare</th>
{#                                                        <th style="width: 150px">Email</th>#}
{#                                                        <th style="width: 50px">N.Allegati</th>#}
                                                        <th style="width: 120px">Data Inserimento</th>
                                                        <th style="width: 120px"> Data Modifica</th>
                                                        <th style="width: 50px">Azioni</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for client in object_list %}

                                                    <tr>
                                                            <td>{{ client.denominazione|title }}</td>
                                                            <td>{{ client.user.azienda|title }}</td>
                                                            <td>{{ client.user|capfirst|default:'Da inserire'|title }}</td>
                                                            <td>{{ client.cellulare1|phone2numeric }}</td>
{#                                                            <td>{{ client.email|title }}</td>#}
{#                                                            <td>{% for key,value in numero_allegati.items  %}{% if key == client.denominazione %}{{ value }} di 14 {% endif %}{% endfor %}</td>#}
                                                            <td>Data:{{ client.data_ins|date:'d-m-y'}}, Ore:{{client.data_ins|time:'H:i'}}</td>
                                                            <td>Data:{{ client.data_mod|date:'d-m-y'}}, Ore:{{client.data_mod|time:'H:i'}}</td>
                                                            <td class="actions">
                                                                <a href="{% url 'clienti_edit' pk=client.id %}" data-toggle="tooltip"  data-placement="right" title="Modifica Cliente"  class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                                                <a href="{% url 'client_attach_new' pk=client.id %}" data-toggle="tooltip"  data-placement="right" title="Visualizza Allegati" class="on-default edit-row"><i class="zmdi zmdi-attachment-alt"></i></a>
                                                                <a href="{% url 'clienti_delete' pk=client.id %}" data-toggle="tooltip"  data-placement="right" title="Elimina Cliente" class="user-list-item" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                                            </td>
                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                    </div>
                    </div>
                </div>
{#                <div class="panel panel-color panel-default-site">#}
{#                        <div class="panel-heading">#}
{#                            <h3 class="panel-title">Lista Clienti per Azienda</h3>#}
{#                        </div>#}
{#                        <div class="panel-body">#}
{#                            <div class="col-lg-3 col-md-6">#}
{#                                <div class="card-box">#}
{#                                    <div class="dropdown pull-right">#}
{#                                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">#}
{#                                            <i class="zmdi zmdi-more-vert"></i>#}
{#                                        </a>#}
{##}
{#                                        <ul class="dropdown-menu" role="menu">#}
{#                                            {% for value in number %}#}
{#                                            <li><a href="javascript:userCompany('{{ value|safe }}')">{{ value }}</a></li>#}
{#                                            {% endfor %}#}
{#                                        </ul>#}
{##}
{#                                    </div>#}
{#                                    <script type="application/javascript">#}
{#                                            //Funzione per richiamare i clienti per Azienda#}
{#                                            function userCompany(valore) {#}
{##}
{#                                                $.ajax({#}
{#                                                    url: '/azienda/user/',#}
{#                                                    method: 'GET',#}
{#                                                    data: {#}
{#                                                        usertotali: valore,#}
{#                                                        },#}
{#                                                        dataType: 'json',#}
{#                                                    success:function(data){#}
{#                                                            $('#name_user > li ').remove();#}
{#                                                            if ($('#id_user').length == 0){#}
{#                                                                    $.each(data[valore],function(i){#}
{#                                                                        var li = $('<li>').addClass("list-group-item").attr('id','id_user').appendTo('#name_user');#}
{#                                                                        var a = $('<a/>').addClass("user-list-item").attr('href','{% url 'utenti_edit' pk=1 %}'.replace(/1/,data[valore][i][1])).appendTo(li);#}
{#                                                                        var div = $('<div/>').addClass("user-desc").appendTo(a);#}
{#                                                                        var span = $('<span>').text(data[valore][i][0]).appendTo(div);#}
{#                                                                        $('#azi').text('Azienda'+':'+valore);#}
{#                                                                    });#}
{#                                                            }#}
{#                                                    },#}
{#                                                    error:function(xhr,errmsg,err){#}
{#                                                        alert(xhr.status+':'+xhr.responceText);#}
{#                                                    }#}
{#                                                });#}
{#                                            }#}
{#                                    </script>#}
{##}
{#                                    <h4 class="header-title m-t-0 m-b-30" id="azi">Utenti Azienda</h4>#}
{#                                    <h2 class="header-title ">Utenti</h2>#}
{#                                    <ul id=name_user class="list-group m-b-0 user-list">#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-lg-3 col-md-6">#}
{#                                <div class="card-box">#}
{#                                    <div class="dropdown pull-right">#}
{#                                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">#}
{#                                            <i class="zmdi zmdi-more-vert"></i>#}
{#                                        </a>#}
{##}
{#                                        <ul class="dropdown-menu" role="menu">#}
{#                                            {% for value in number_cli %}#}
{#                                            <li><a href="javascript:userClient('{{ value|safe }}')">{{ value }}</a></li>#}
{#                                            {% endfor %}#}
{#                                        </ul>#}
{##}
{#                                    </div>#}
{#                                    <script type="application/javascript">#}
{#                                            //Funzione per richiamare i clienti per User#}
{#                                            function userClient(valore) {#}
{##}
{#                                                $.ajax({#}
{#                                                    url: '/azienda/cli/',#}
{#                                                    method: 'GET',#}
{#                                                    data: {#}
{#                                                        clitotali: valore,#}
{#                                                        },#}
{#                                                        dataType: 'json',#}
{#                                                    success:function(data){#}
{#                                                            $('#name_cli > li ').remove();#}
{#                                                            if ($('#id_cli').length == 0){#}
{##}
{#                                                                    $.each(data[valore],function(i){#}
{#                                                                        console.log(data[valore][i][0])#}
{#                                                                        var li = $('<li>').addClass("list-group-item").attr('id','id_cli').appendTo('#name_cli');#}
{#                                                                        //var a = $('<a/>').addClass("user-list-item").attr('href',1).replace(/1/,data[valore][i][1]).appendTo(li);#}
{#                                                                        var div = $('<div/>').addClass("user-desc").appendTo(li);#}
{#                                                                        var span = $('<span>').text(data[valore][i][0]).appendTo(div);#}
{#                                                                        $('#cli').text('Azienda'+':'+valore);#}
{#                                                                    });#}
{#                                                            }#}
{#                                                    },#}
{#                                                    error:function(xhr,errmsg,err){#}
{#                                                        alert(xhr.status+':'+xhr.responceText);#}
{#                                                    }#}
{#                                                });#}
{#                                            }#}
{#                                    </script>#}
{##}
{#                                    <h4 class="header-title m-t-0 m-b-30" id="cli">Clienti Azienda</h4>#}
{#                                    <h2 class="header-title ">Clienti</h2>#}
{#                                    <ul id=name_cli class="list-group m-b-0 user-list">#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
            </div>
        </div>
 </div>
{#<a href="{% url 'clienti_add' %}" type="button">#}
{#clienti#}
{#</a>#}
{#{% for cli in object_list %}#}
{##}
{#    <ul>#}
{#        <li><b>{{ cli.denominazione }}</b></li>#}
{#        <li>{{ cli.user.azienda }}</li>#}
{#        <li>{{ cli.user }}</li>#}
{#        <li>{{ cli.doc.name }}</li>#}
{#        <li>{{ cli.cf_doc.name }}</li>#}
{#        <li>{{ cli.attrribuzione_pi.name }}</li>#}
{#        <li>{{ cli.certificato_camerale.name }}....{{ cli.certificato_camerale }}</li>#}
{#        <li>{{ cli.contratto.name }}</li>#}
{#        <li>{{ cli.preventivi.name }}</li>#}
{#      <li>  {{mod_unico_anno_prec}}</li>#}
{#    <li>{{mod_unico_anno_prec_2}}</li>#}
{#    <li>{{bilancio_ultimi_2}}</li>#}
{#    <li>{{bilancio_anno_corso}}</li>#}
{#    <li>{{attestati}}</li>#}
{#    <li>{{allegati_autocertificazione}}</li>#}
{#    <li>{{altri_allegati}}</li>#}
{##}
{#    </ul>#}
{##}
{#{% endfor %}#}
{% endblock %}