{% extends 'base/index.html' %}

{% block title %} Crea Cliente {% endblock %}


{% block content %}
   {% include 'base/settingButton.html' %}


   <form method='post' action="." enctype="multipart/form-data">{% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-color panel-default-site">
                            <div class="panel-heading">
                                <h3 class="panel-title">Informazioni Personali</h3>
                            </div>

                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p class="-align-left">I campi contrassegnati da * sono obbligatori</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-xs-12">
                                        {{ form.id }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <b>{{ form.denominazione.label}}</b>
                                            {{ form.denominazione }}
                                            <div id="error-log"><strong>{{ form.denominazione.errors }}</strong></div>
                                        </div>
                                        <div class="col-xs-3">
                                            <b>{{ form.user.label}}</b>
                                            {{ form.user }}
                                            <div id="error-log"><strong>{{ form.user.errors }}</strong></div>
                                        </div>
                                        <div class="col-xs-3 m-b-15">
                                            <div class="checkbox checkbox-custom">

                                                <input {% if form.ditta.value %} checked=checked {% endif %}
                                                                                id="checkbox-signup" type="checkbox"
                                                                                name="ditta"/>
                                                <label for="checkbox-signup">
                                                    <b>{{ form.ditta.label }}</b>
                                                </label>

                                            </div>
                                        </div>
                                    </div>
                                    </br>
                                    <script>
                                        $(document).ready(function() {

                                            if($('#checkbox-signup').is(':checked')) {
                                                $('#name').hide();
                                            }
                                            $('#checkbox-signup').click(function() {
                                               if(!$('#checkbox-signup').is(':checked')){
                                                   $('#name').fadeIn();
                                               }else {
                                                   $('#name').fadeOut();
                                               }

                                               });
                                        });
                                    </script>
                                    <div class="row" id="name">
                                        <div class="col-xs-6">
                                            <b>{{ form.nome.label }}</b>
                                            {{ form.nome|capfirst }}
                                            <p>{{ form.nome.errors }}</p>
                                        </div>
                                       <div class="col-xs-6">
                                            <b>{{ form.cognome.label }}</b>
                                            {{ form.cognome|capfirst }}
                                            <p>{{ form.cognome.errors }}</p>
                                        </div>
                                    </div>
                                    </br>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <b>{{ form.indirizzo.label }}</b>
                                            {{ form.indirizzo }}
                                            <div id="error-log"><strong>{{ form.indirizzo.errors }}</strong></div>
                                        </div>
                                        <div class="col-xs-3">
                                            <b>{{ form.comune.label }}</b>
                                            {{ form.comune }}
                                            <div id="error-log"><strong>{{ form.comune.errors }}</strong></div>
                                        </div>
                                        <div class="col-xs-3">
                                            <b>{{ form.citta.label }}</b>
                                            {{ form.citta }}
                                            <div id="error-log"><strong>{{ form.citta.errors }}</strong></div>
                                        </div>
                                        <div class="col-xs-3">
                                            <b>{{ form.cap.label }}</b>
                                            {{ form.cap }}
                                            <div id="error-log"><strong>{{ form.cap.errors }}</strong></div>
                                        </div>
                                    </div>
                                    </br>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <b>{{ form.codice_ateco.label }}</b>
                                            {{ form.codice_ateco }}
                                            <div id="error-log"><strong>{{ form.codice_ateco.errors }}</strong></div>
                                        </div>
                                        <div class="col-xs-6">
                                            <b>{{ form.numero_rea.label }}</b>
                                            {{ form.numero_rea }}
                                            <div id="error-log"><strong>{{ form.numero_rea.errors }}</strong></div>
                                        </div>
                                    </div>
                                    </br>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <b>{{ form.piva.label }}</b>
                                            {{ form.piva }}
                                            <div id="error-log"><strong>{{ form.piva.errors }}</strong></div>
                                        </div>
                                        <div class="col-xs-4">
                                            <b>{{ form.cf.label }}</b>
                                            {{ form.cf }}
                                            <div id="error-log"><strong>{{ form.cf.errors }}</strong></div>
                                        </div>
                                        <div class="col-xs-4">
                                            <b>{{ form.pec.label }}</b>
                                            {{ form.pec }}
                                            <div id="error-log"><strong>{{ form.pec.errors }}</strong></div>
                                        </div>
                                    </div>
                                    </br>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <b>{{ form.telefonoFisso1.label }}</b>
                                            {{ form.telefonoFisso1 }}
                                            {{ form.telefonoFisso1.help_text }}
                                            <div id="error-log"><strong>{{ form.telefonoFisso1.errors }}</strong></div>
                                        </div>
                                       <div class="col-xs-4">
                                            <b>{{ form.cellulare1.label }}</b>
                                            {{ form.cellulare1 }}
                                            {{ form.cellulare1.help_text }}
                                            <div id="error-log">{{ form.cellulare1.errors }}</div>
                                        </div>
                                        <div class="col-xs-4">
                                            <b>{{ form.fax.label }}</b>
                                            {{ form.fax }}
                                            {{ form.fax.help_text }}
                                            <div id="error-log"><strong>{{ form.fax.errors }}</strong></div>
                                        </div>
                                    </div>
                                    <script type="application/javascript">
                                        $(document).ready(
                                                $('#datepicker').datepicker()
                                        )
                                    </script>
                                    </br>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <b>{{ form.email.label }}</b>
                                            {{ form.email }}
                                            <div id="error-log"><strong>{{ form.email.errors }}</strong></div>
                                        </div>
                                        <div class="col-xs-6">
                                            <b>{{ form.url_sito.label }}</b>
                                            {{ form.url_sito }}
                                            <div id="error-log">{{ form.url_sito.errors }}</div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <b>{{ form.note.label }}</b>
                                            {{ form.note }}
                                            <div id="error-log">{{ form.note.errors }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-color panel-default-site">
                            <div class="panel-heading">
                                <h3 class="panel-title">Tipologia</h3>
                            </div>

                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p class="-align-left">I campi contrassegnati da * sono obbligatori</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <b>{{ form.tipologia.label}}</b>
                                            {{ form.tipologia }}
                                            <div id="error-log"><strong>{{ form.tipologia.errors }}</strong></div>
                                        </div>
                                        <div class="col-xs-6">
                                            <b>{{ form.tipologia_altro.label}}</b>
                                            {{ form.tipologia_altro }}
                                            <div id="error-log"><strong>{{ form.tipologia_altro.errors }}</strong></div>
                                        </div>
                                    </div>
                                    <script type="application/javascript">
                                        $(document).ready(function() {
                                            if($('#id_tipologia option:selected').val() == 13) {
                                                    $('#id_tipologia_altro').prop('disabled', false)
                                            } else {
                                                $('#id_tipologia_altro').prop('disabled', true)
                                            }

                                            $('#id_tipologia').change(function(){
                                                if($('#id_tipologia option:selected').val() == 13) {
                                                    $('#id_tipologia_altro').val('{{ form.tipologia_altro.value }}');
                                                    $('#id_tipologia_altro').removeAttr('disabled');

                                                }else{
                                                    $('#id_tipologia_altro').prop('disabled',true).val("");

                                                }

                                            });
                                        });

                                    </script>
                                    </br>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-color panel-default-site">
                            <div class="panel-heading">
                                <h3 class="panel-title">Compagine Sociale</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p class="-align-left">I campi contrassegnati da * sono obbligatori</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <b>{{ form.numero_dipendenti.label}}</b>
                                            {{ form.numero_dipendenti }}
                                            <div id="error-log">{{ form.numero_dipendenti.errors }}</div>
                                        </div>
                                        <div class="col-xs-3">
                                            <b>{{ form.meno_di_35.label}}</b>
                                            {{ form.meno_di_35 }}
                                            <div id="error-log">{{ form.meno_di_35.errors }}</div>
                                        </div>
                                        <div class="col-xs-3">
                                            <b>{{ form.donna_uomo.label}}</b>
                                            {{ form.donna_uomo }}
                                            <div id="error-log">{{ form.donna_uomo.errors }}</div>
                                        </div>
                                        <div class="col-xs-3">
                                            <b>{{ form.donna_uomo_1.label}}</b>
                                            {{ form.donna_uomo_1 }}
                                            <div id="error-log">{{ form.donna_uomo_1.errors }}</div>
                                        </div>
                                    </div>
                                    </br>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-color panel-default-site">
                            <div class="panel-heading">
                                <h3 class="panel-title">Domande di Finanziamento</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p class="-align-left">I campi contrassegnati da * sono obbligatori</p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        {% if form.spese.errors %}
                                            <div class="col-xs-12">
                                              <div class="alert alert-danger alert-dismissable m-t-10" id="close">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                                    <strong>{{ form.spese.errors }}</strong>
                                              </div>
                                             </div>
                                        {% endif %}
                                        {% for kin in form.spese %}
                                            <div class="col-xs-3">
                                                <div class="checkbox checkbox-custom m-b-15">
                                                    {{ kin.tag }}
                                                    <label for="{{ kin.id_for_label }}"><strong>{{ kin.choice_label }}</strong></label>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <div class="col-xs-12 pull-left m-b-15">
                                            <b>{{ form.spese_altro.label }}</b>
                                            {{ form.spese_altro }}
                                            <div id="error-log">{{ form.spese_altro.errors }}</div>
                                        </div>
                                        <script type="application/javascript">
                                            $('document').ready(function(){
                                               if(!$('#id_spese_11').is(':checked')) {
                                                    $('#id_spese_altro').prop('disabled',true);
                                                }else {
                                                   $('#id_spese_altro').prop('disabled',false);
                                               }
                                               $('#id_spese_11').click(function(){
                                                   if($('#id_spese_11').is(':checked')){
                                                        $('#id_spese_altro').val('{{ form.spese_altro.value }}');
                                                        $('#id_spese_altro').prop('disabled',false);

                                                   }else{
                                                       $('#id_spese_altro').prop('disabled',true);
                                                       $('#id_spese_altro').val("");
                                                   }
                                               });
                                            });
                                        </script>
                                        </br>
                                        <div class="col-xs-12 pull-left m-b-15">
                                            <b>{{ form.tipologia_richiesta.label}}</b>
                                            {{ form.tipologia_richiesta }}
                                            <div id="error-log">{{ form.tipologia_richiesta.errors }}</div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <b>{{ form.note_1.label}}</b>
                                            {{ form.note_1 }}
                                            <p>{{ form.note_1.help_text }}</p>
                                            <div id="error-log">{{ form.note_1.errors }}</div>
                                        </div>
                                    </div>
                                    </br>
                                </div>
                            </div>
                        </div>
                        {% if request.user.is_superuser %}
                        <div class="panel panel-color panel-default-site">
                            <div class="panel-heading">
                                <h3 class="panel-title">Da Compilare a cura di ProEurope</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                               <div class="row">
                                        <div class="col-xs-12">
                                            <b>{{ form.Procedure_1.label}}</b>
                                            {{ form.Procedure_1 }}
                                            <div id="error-log">{{ form.Procedure_1.errors }}</div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <b>{{ form.Procedure_2.label}}</b>
                                            {{ form.Procedure_2 }}
                                            <div id="error-log">{{ form.Procedure_2.errors }}</div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <b>{{ form.Procedure_3.label}}</b>
                                            {{ form.Procedure_3 }}
                                            <div id="error-log">{{ form.Procedure_3.errors }}</div>
                                        </div>
                                    </div>
                                    </br>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-xs-2">
                                <button type="submit" class="btn btn-custom btn-rounded waves-effect waves-success">
                                    Salva Azienda
                                </button>
                            </div>
                            <div class="col-xs-3">
                                <a type="button" href="{% url 'client_attach_new' pk=id %}" class="btn btn-custom btn-rounded waves-effect waves-success">
                                    Allegati Azienda
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
   </form>
{% endblock %}