<div class="panel panel-color panel-default-site">
                        <div class="panel-heading">
                            <h3 class="panel-title">Allegati</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 m-b-10">
                                        <p class="-align-left">I File possono possono avere estensioni <strong>'jpg',
                                            'doc', 'pdf','xlsx'</strong>
                                    </div>

                                    <div class="col-xs-6">
                                        <b>{{ form.doc.label }}</b>
                                        <input disabled='disable' class="form-control" id="take_name">
                                        <div id="error-log"><strong>{{ form.doc.errors }}</strong></div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="fileupload btn btn-primary"
                                             style="position: relative; overflow: hidden; margin: 22px">
                                            <span>Upload</span>
                                            <input type="file" class="upload" name="doc" id="id_doc">
                                        </div>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            Btn('id_doc', 'take_name')
                                        });
                                    </script>
                                </div>
                                </br>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <b>{{ form.cf_doc.label }}</b>
                                        <input disabled='disable' class="form-control" id="take_name_cf">
                                        <div id="error-log"><strong>{{ form.cf_doc.errors }}</strong></div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="fileupload btn btn-primary"
                                             style="position: relative; overflow: hidden; margin: 22px">
                                            <span>Upload</span>
                                            <input type="file" class="upload" name="cf_doc" id="id_cf_doc">
                                        </div>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            Btn('id_cf_doc', 'take_name_cf')
                                        });
                                    </script>
                                </div>
                                </br>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <b>{{ form.attrribuzione_pi.label }}</b>
                                        <input disabled='disable' class="form-control" id="take_name_pi">
                                        <div id="error-log"><strong>{{ form.attrribuzione_pi.errors }}</strong></div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="fileupload btn btn-primary"
                                             style="position: relative; overflow: hidden; margin: 22px">
                                            <span>Upload</span>
                                            <input type="file" class="upload" name="attrribuzione_pi"
                                                   id="id_attrribuzione_pi">
                                        </div>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            Btn('id_attrribuzione_pi', 'take_name_pi')
                                        });
                                    </script>
                                </div>
                                </br>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <b>{{ form.certificato_camerale.label }}</b>
                                        <input disabled='disable' class="form-control" id="take_name_cam">
                                        <div id="error-log"><strong>{{ form.certificato_camerale.errors }}</strong>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="fileupload btn btn-primary"
                                             style="position: relative; overflow: hidden; margin: 22px">
                                            <span>Upload</span>
                                            <input type="file" class="upload" name="certificato_camerale"
                                                   id="id_certificato_camerale">
                                        </div>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            Btn('id_certificato_camerale', 'take_name_cam')
                                        });
                                    </script>
                                </div>
                                </br>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <b>{{ form.visura_camerale.label }}</b>
                                        <input disabled='disable' class="form-control" id="take_name_cam_vis">
                                        <div id="error-log"><strong>{{ form.visura_camerale.errors }}</strong></div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="fileupload btn btn-primary"
                                             style="position: relative; overflow: hidden; margin: 22px">
                                            <span>Upload</span>
                                            <input type="file" class="upload" name="visura_camerale"
                                                   id="id_visura_camerale_visura">
                                        </div>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            Btn('id_visura_camerale_visura', 'take_name_cam_vis')
                                        });
                                    </script>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <b>{{ form.contratto.label }}</b>
                                        <input disabled='disable' class="form-control" id="take_name_cont">
                                        <div id="error-log"><strong>{{ form.contratto.errors }}</strong></div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="fileupload btn btn-primary"
                                             style="position: relative; overflow: hidden; margin: 22px">
                                            <span>Upload</span>
                                            <input type="file" class="upload" name="contratto" id="id_contratto">
                                        </div>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            Btn('id_contratto', 'take_name_cont')
                                        });
                                    </script>
                                </div>
                                </br>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <b>{{ form.preventivi.label }}</b>
                                        <input disabled='disable' class="form-control" id="take_name_prev">
                                        <div id="error-log"><strong>{{ form.preventivi.errors }}</strong></div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="fileupload btn btn-primary"
                                             style="position: relative; overflow: hidden; margin: 22px">
                                            <span>Upload</span>
                                            <input type="file" class="upload" name="preventivi" id="id_preventivi">
                                        </div>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            Btn('id_preventivi', 'take_name_prev')
                                        });
                                    </script>
                                </div>
                                </br>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <b>{{ form.mod_unico_anno_prec.label }}</b>
                                        <input disabled='disable' class="form-control" id="take_name_mod">
                                        <div id="error-log"><strong>{{ form.mod_unico_anno_prec.errors }}</strong></div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="fileupload btn btn-primary"
                                             style="position: relative; overflow: hidden; margin: 22px">
                                            <span>Upload</span>
                                            <input type="file" class="upload" name="mod_unico_anno_prec"
                                                   id="id_mod_unico_anno_prec">
                                        </div>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            Btn('id_mod_unico_anno_prec', 'take_name_mod')
                                        });
                                    </script>
                                </div>
                                </br>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <b>{{ form.mod_unico_anno_prec_2.label }}</b>
                                        <input disabled='disable' class="form-control" id="take_name_mod2">
                                        <div id="error-log"><strong>{{ form.mod_unico_anno_prec_2.errors }}</strong>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="fileupload btn btn-primary"
                                             style="position: relative; overflow: hidden; margin: 22px">
                                            <span>Upload</span>
                                            <input type="file" class="upload" name="mod_unico_anno_prec_2"
                                                   id="id_mod_unico_anno_prec_2">
                                        </div>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            Btn('id_mod_unico_anno_prec_2', 'take_name_mod2')
                                        });
                                    </script>
                                </div>
                                </br>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <b>{{ form.bilancio_ultimi_2.label }}</b>
                                        <input disabled='disable' class="form-control" id="take_name_bil2">
                                        <div id="error-log"><strong>{{ form.bilancio_ultimi_2.errors }}</strong></div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="fileupload btn btn-primary"
                                             style="position: relative; overflow: hidden; margin: 22px">
                                            <span>Upload</span>
                                            <input type="file" class="upload" name="bilancio_ultimi_2"
                                                   id="id_bilancio_ultimi_2">
                                        </div>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            Btn('id_bilancio_ultimi_2', 'take_name_bil2')
                                        });
                                    </script>
                                </div>
                                </br>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <b>{{ form.bilancio_anno_corso.label }}</b>
                                        <input disabled='disable' class="form-control" id="take_name_bil">
                                        <div id="error-log"><strong>{{ form.bilancio_anno_corso.errors }}</strong></div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="fileupload btn btn-primary"
                                             style="position: relative; overflow: hidden; margin: 22px">
                                            <span>Upload</span>
                                            <input type="file" class="upload" name="bilancio_anno_corso"
                                                   id="id_bilancio_anno_corso">
                                        </div>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            Btn('id_bilancio_anno_corso', 'take_name_bil')
                                        });
                                    </script>
                                </div>
                                </br>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <b>{{ form.attestati.label }}</b>
                                        <input disabled='disable' class="form-control" id="take_name_att">
                                        <div id="error-log"><strong>{{ form.attestati.errors }}</strong></div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="fileupload btn btn-primary"
                                             style="position: relative; overflow: hidden; margin: 22px">
                                            <span>Upload</span>
                                            <input type="file" class="upload" name="attestati" id="id_attestati">
                                        </div>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            Btn('id_attestati', 'take_name_att')
                                        });
                                    </script>
                                </div>
                                </br>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <b>{{ form.allegati_autocertificazione.label }}</b>
                                        <input disabled='disable' class="form-control" id="take_name_aut">
                                        <div id="error-log">
                                            <strong>{{ form.allegati_autocertificazione.errors }}</strong></div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="fileupload btn btn-primary"
                                             style="position: relative; overflow: hidden; margin: 22px">
                                            <span>Upload</span>
                                            <input type="file" class="upload" name="allegati_autocertificazione"
                                                   id="id_allegati_autocertificazione">
                                        </div>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            Btn('id_allegati_autocertificazione', 'take_name_aut')
                                        });
                                    </script>
                                </div>
                                </br>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <b>{{ form.altri_allegati.label }}</b>
                                        <input disabled='disable' class="form-control" id="take_name_alt">
                                        <div id="error-log"><strong>{{ form.altri_allegati.errors }}</strong></div>
                                        <div id="m-t-help_text" style="margin-left: 0px">
                                            <strong>{{ form.altri_allegati.help_text }}</strong></div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="fileupload btn btn-primary"
                                             style="position: relative; overflow: hidden; margin: 22px">
                                            <span>Upload</span>
                                            <input type="file" class="upload" name="altri_allegati" multiple
                                                   id="id_altri_allegati">
                                        </div>
                                    </div>
                                    <script>
                                        $(document).ready(function () {
                                            Btn('id_altri_allegati', 'take_name_alt')
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>