 <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-group pull-right m-t-5 m-b-20">
                            <button type="button" class="btn btn-custom">
                                Settagio
                                <span class="m-l-5">
                                    <i class="fa fa-cog"></i>
                                </span>
                            </button>
                        </div>
                        <h4 class="page-title">Dashboard <strong>{{ user.username|capfirst }}</strong></h4>
                    </div>
 </div>