<div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <!--- Divider -->
                    <div id="sidebar-menu">
                        <ul>

                        	<li class="text-muted menu-title">Menu</li>
                            <li class="has_sub active">
                                {% url 'base' as base %}
                                <a{% if request.path == base  %}  class="waves-effect active " {% endif %} href="{{ base }}"><i class="zmdi zmdi-view-dashboard"></i> <span> Dashboard </span> </a>

                            </li>


                            <li class="has_sub active">
                                {% url 'azienda_list' as azi %}
                                <a {% if request.path == azi %} class="waves-effect active" {% endif %} href="{{ azi }}"><i class="zmdi zmdi-city"></i> <span> Azienda </span> </a>
                            </li>

                            <li class="has_sub active">
                                <!-- da inserire-->
                                {% url 'clienti_lista' as cli %}
                                <a {% if request.path == cli %}class="waves-effect active" {% endif %} href="{{ cli }}"><i class="zmdi zmdi-accounts-list"></i> <span>Pratiche Clienti </span> </a>
                            </li>
                            <li class="has_sub active">

                                {% url 'modulistica' as modul %}
                                <a {% if request.path == modul %}class="waves-effect active" {% endif %} href="{{ modul }}"><i class="zmdi zmdi-book"></i> <span> Modulistica </span> </a>
                            </li>
                            <li class="text-muted menu-title">Gestione Utenti e Gruppi</li>

                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-accounts"></i><span> Gestione Utenti </span></a>
                                <ul class="list-unstyled">
                                    <li><a href="{% url 'utenti_lista' %}">Collaboratori</a></li>
                                    <li><a href="{% url 'gruppi_lista' %}">Collaboratori e Gruppi</a></li>


                                </ul>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>