{% extends 'base/index.html' %}


{% block title %} Cambia Password Utente {% endblock %}


{% block content %}

    {% include 'base/settingButton.html' %}
    <form method='post' action=".">{% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-color panel-default-site">
                        <div class="panel-heading">
                            <h3 class="panel-title">Modifica Password</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <b>{{ form.new_password1.label }}</b>
                                        {{ form.new_password1 }}
                                    </div>
                                    <div class="col-xs-6">
                                        <b>{{ form.new_password2.label }}</b>
                                        {{ form.new_password2 }}
                                    </div>
                                </div>
                                <div class="row">
                                 {% if form.new_password2.errors %}
                                    <div class="col-xs-12">
                                         <div class="alert alert-danger alert-dismissable m-t-10" id="close">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                                <strong>{{ form.new_password2.errors }}</strong>
                                         </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-custom btn-rounded waves-effect waves-success">Salva
                                Password
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
{% endblock %}